header {
    position: fixed;
    top: 0;
    background-color: var(--primary);
    height: 8rem;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    height: 100%;
    padding: 0 5rem;
    color: white;
    font-size: 1.8rem;
}

#nav-bar-fc-metz {
    width: 45%;
    margin-right: 10rem;
}

#container-logo-fc-metz {
    align-self: center;
}

#logo-fc-metz {
    width: 5rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

li {
    display: inline-block;
    height: 100%;
}

.a-nav {
    display: inline-block;
    /* align-items: center; */
    height: 100%;
    padding: 0 1.3rem;
    line-height: 8rem;
}

.a-nav:hover {
    background-color: var(--primary-dark);
}

nav ul li:nth-last-child(-n + 2) {
    opacity: 1;
    background-image: radial-gradient( ellipse farthest-corner at 3px 3px , #40121887, #40121886 50%, #4d181e83 50%);
    background-size: 5px 5px;
}

#select {
    background-color: var(--primary-dark);
}
